html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  /* Background Stuff */
  background-color: #222222;
  background-image: url('/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* font: ; */
  color: #A6AAA9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
